body {
    background-color: white;
    color: hsl(0, 0%, 13%);
}

.module-map-headline{
    color: hsl(83, 64%, 42%);
}

.module-container{
    margin: .5em 0;
    padding: .5em 1em;
    border: 2px solid hsl(83, 64%, 42%);
    border-radius: 5px;
}
.module-container h2, .module-container h3{
    margin: .3em 0;
}
.module-container p{
    color: hsl(0, 0%, 28%);
    margin: .2em 0 .2em 1em;
}
.sub-container{
    display: flex; 
    justify-content: flex-start;
    padding: .5em 1em;
 }

 

.module-sub-dir{
    padding: 1em;
    margin-left: .5em;
    background: hsl(84, 77%, 86%);
    border-radius: 5px;
}
.module-sub-dir p.file-names{
    color: hsl(83, 64%, 32%)
}
.methods{
    margin-left: 2em;
}
.methods ul{
    margin-top: .5em;
}
.methods h4{
    margin: .5em 0 0 0;
}
.methods p{
    margin: .3em 0;
}

.sub-modules{
    margin-left: 1.5em;
    padding: 1em;
    background: hsl(84, 77%, 86%);
    border-radius: 5px;
 }
 .sub-module-container{
     margin-left: 2em;
     
 }
 .sub-modules .module-sub-dir{
  background: white;
 }
